<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000291661791-e9g5g245flamigakf0d3i84e1d8t5pkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000291661791-e9g5g245flamigakf0d3i84e1d8t5pkq</string>
	<key>API_KEY</key>
	<string>AIzaSyD6NPJWVN42yPx6OEwS2hNKZ7pqpty0-lI</string>
	<key>GCM_SENDER_ID</key>
	<string>1000291661791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHelloWorld</string>
	<key>PROJECT_ID</key>
	<string>flutterhelloworld-ddadd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhelloworld-ddadd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000291661791:ios:cf5e0c943e7b2db9c3766a</string>
</dict>
</plist>